.menu{
    text-align: center;
    background-color:#D5B0AC;
}
.menu span{
    display: inline-block;
    font-weight: bolder;
    width:100px;
    height: 30px;
    line-height: 30px;
    margin-left:20px;
 }
 .menu span:hover{    
     background-color: #9CD08F;
     color:#FFFFFF;  
     cursor: pointer;   
 }
 body{
     margin: 0;
 }

 .menu1
 {
     background:transparent;
 }
 .menu1 span
 {
     display: block;
     font-weight: bolder;
     width:100px;
     height:30px;
     background-color:#D5B0AC; 
     text-align: center;
    margin-top:2px;
 }

