<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">       
    <link rel="stylesheet" href="/main/main.css">
</head>
<body>
    <div id="header">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img src="/main/avatar.gif"/></a>
                </div>
                <div class="search">
                    <input type="text" class="form-control input-sm" placeholder="Search" />
                    <button type="submit" class="btn btn-danger btn-sm">Search</button>
                </div>
            </div>
        </nav>
    </div>
    {{{body}}}
    <div id="footer" >
      <img src="/mainWeb/logofooter.png"/>
      <p>Follow us on</p>
      <a href="https://www.facebook.com/Techkids.Code.the.Change/"><i class="fa fa-facebook-official" style="font-size:36px"></i></a>
      <a href="https://www.instagram.com/"><i class="fa fa-instagram" style="font-size:36px"></i></a>
    </div>

</body>
</html>

