<!doctype HTML>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">     
        <link rel="stylesheet" href="/otherAbout.css">   
    </head>
    <title>Hoang</title>
    <body>
        <nav class="navbar navbar-inverse">
                   <div class="container-fluid">
                       <div class="navbar-header">
                              <a class="navbar-brand" href="./">Quyết đê</a>
                       </div>
                       <ul class="nav navbar-nav">
                           <li><a href="/ask">Hỏi nhanh</a></li>
                           <li><a href="/vote">Vote gọn</a></li>
                       </ul>
                   </div>
        </nav> 
         <div id="areaVote" class="container">
              {{{body}}}
              <form action="/questions" method="post">
                      <input type="submit" value="no" name="NO" class="vote"/>
                      <input type="submit" value="yes" name="YES" class="vote"/>
              </form>
              <div id="next">
                  <form action="/questions" method="post">
                      <input type="submit" value="Kết quả vote" name="result"/>
                  </form>
                  <a href="/vote"><input type="submit" value="Câu hỏi khác"/></a>
              </div>    
         </div>


    </body>
</html>
