<div id="mountainNavigation" >
    <div class="col-sm-12"  id="mountain"><p1>Mountain</p1></div>
</div>
<div id="mountainContent" class="container" >
    <div class="col-sm-12" id="item">
        <img class="card-img-top" src="/mainWeb/mountain/thungnai/thungnai1.jpg" alt="Card image cap" width="300px" height="150px"/>
        <p>Thung Nai-Hòa Bình</p>
    </div>
    <div class="col-sm-12" id="item">
        <img class="card-img-top" src="/mainWeb/mountain/xuphi/xuphi1.jpg" alt="Card image cap" width="300px" height="150px"/>
        <p>Hoàng Sù Phì-Hà Giang</p>
    </div>
    <div class="col-sm-12" id="item">
        <img class="card-img-top" src="/mainWeb/mountain/yty/yty1.jpg" alt="Card image cap" width="300px" height="150px"/>
        <p>Y Tý-Lào Cai</p>
    </div>   
</div>
<div class="pagination">
    <li><a href="/mountain/1">1</a></li>
    <li><a href="/mountain/2">2</a></li>
    <li><a href="/mountain/3">3</a></li>
</div>