<div id="mountainNavigation" >
    <div class="col-sm-12"  id="mountain"><p1>Mountain</p1></div>
</div>
<div id="mountainContent" class="container" >
    <div class="col-sm-12" id="item">
        <img class="card-img-top" src="/mainWeb/mountain/hoian/hoian1.jpg" alt="Card image cap" width="300px" height="150px"/>
        <p>Hội An-Đà Nẵng</p>
    </div>
    <div class="col-sm-12" id="item">
        <img class="card-img-top" src="/mainWeb/mountain/huongduong/huongduong1.jpg" alt="Card image cap" width="300px" height="150px"/>
        <p>Đồi hoa hướng dương-Nghệ An</p>
    </div>
    <div class="col-sm-12" id="item">
        <img class="card-img-top" src="/mainWeb/mountain/taxua/taxua1.jpg" alt="Card image cap" width="300px" height="150px"/>
        <p>Tà Xùa-Sơn La</p>
    </div>   
</div>
<div class="pagination">
    <li><a href="/mountain/1">1</a></li>
    <li><a href="/mountain/2">2</a></li>
    <li><a href="/mountain/3">3</a></li>
</div>