<div id="mountainNavigation" >
    <div class="col-sm-12"  id="mountain"><p1>Mountain</p1></div>
</div>
<div id="mountainContent" class="container" >
    <div class="col-sm-12" id="item">
        <img class="card-img-top" src="/mainWeb/mountain/bangioc/bangioc1.png" alt="Card image cap" width="300px" height="150px"/>
        <p>Bản Giốc-Cao Bằng</p>
    </div>
    <div class="col-sm-12" id="item">
        <img class="card-img-top" src="/mainWeb/mountain/binhlieu/binhlieu1.jpg" alt="Card image cap" width="300px" height="150px"/>
        <p>Bình Liêu-Quảng Ninh</p>
    </div>
    <div class="col-sm-12" id="item">
        <img class="card-img-top" src="/mainWeb/mountain/cucphuong/cucphuong1.jpg" alt="Card image cap" width="300px" height="150px"/>
        <p>Rừng Quốc Gia Cúc Phương-Thanh Hóa</p>
    </div>   
</div>

<div class="pagination">
    <li><a href="/mountain/1">1</a></li>
    <li><a href="/mountain/2">2</a></li>
    <li><a href="/mountain/3">3</a></li>
</div>