<div id="seaNavigation" >
    <div class="col-sm-12"  id="sea"><p1>Sea</p1></div>
</div>
<div id="seaContent" class="container" >
    <div class="col-sm-12" id="item">
        <img class="card-img-top" src="/mainWeb/sea/coto/coto1.png" alt="Card image cap" width="300px" height="150px"/>
        <p>Cô Tô-Quảng Ninh</p>
    </div>
    <div class="col-sm-12" id="item">
        <img class="card-img-top" src="/mainWeb/sea/badong/badong1.jpg" alt="Card image cap" width="300px" height="150px"/>
        <p>Ba Động-Trà Vinh</p>
    </div>
    <div class="col-sm-12" id="item">
        <img class="card-img-top" src="/mainWeb/sea/baimon/baimon1.jpg" alt="Card image cap" width="300px" height="150px"/>
        <p>Bãi Môn-Phú Yên</p>
    </div>   
</div>

<div class="pagination">
    <li><a href="/sea/1">1</a></li>
    <li><a href="/sea/2">2</a></li>
</div>