<div id="seaNavigation" >
    <div class="col-sm-12"  id="sea"><p1>Sea</p1></div>
</div>
<div id="seaContent" class="container" >
    <div class="col-sm-12" id="item">
        <img class="card-img-top" src="/mainWeb/sea/cualo/cualo1.jpg" alt="Card image cap" width="300px" height="150px"/>
        <p>Cửa Lò-Nghệ An</p>
    </div>
    <div class="col-sm-12" id="item">
        <img class="card-img-top" src="/mainWeb/sea/lyson/lyson1.jpg" alt="Card image cap" width="300px" height="150px"/>
        <p>Lý Sơn-Quảng Ngãi</p>
    </div>
    <div class="col-sm-12" id="item">
        <img class="card-img-top" src="/mainWeb/sea/thanhan/thanhan1.jpg" alt="Card image cap" width="300px" height="150px"/>
        <p>Thạnh An-Cần Giờ</p>
    </div>   
</div>

<div class="pagination">
  <li><a href="/sea/1">1</a></li>
  <li><a href="/sea/2">2</a></li>
</div>