<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" href="/about.css">
    </head>
    <title>Hoang</title>
    <body>
         <div id="menu"> 
              <div id="item1">
                <a href="/"> <img src="/ava.jpg" width="50px" height="40px"/></a>
              </div>
              <div class="item" id="item2"><p><a href="/ask">Hỏi nào</a></p></div>
              <div class="item" id="item3"><p><a href="/vote">Vote nào</a></p></div> 
         </div>    
         {{{body}}}
    </body>
</html>

