body{
        margin:0;
}

#menu{
    width: font: 1em sans-serif;;
    height:30px;
    background-color:#CC6633;
    text-align:center;
    position: relative;
}

#menu .item
{
    display: inline-block; 
    width:100px;
    height:29px;
    line-height: 24px;
    font-size: 18px;

}

#menu .item:hover
{
    background-color: #00FF00;
    width:100px;
    height:29px;

}

#menu .item .sub_menu{
    display:none;
    position: absolute;
    width: 100px;
    height:116px;
    background-color:#CC6633; 
    margin-top:5px;
}

#menu .item .sub_menu .item{
    position: relative;
}

#menu .item .sub_menu .item >.sub_menu{
    position: absolute;
    left:100%;
    top:-5px;
}

#menu .item:hover >.sub_menu{
    display: block; 
}

