<div id="areaAsk"> 
          <p>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</p>
          <form method="post" action="/questions/{{variable}}">
                <textarea name="question"></textarea>
                <input type="submit" value="Gửi" name="send"/>
          </form>
</div>          