<div id="main">
              <img src="./anh1.jpg"/>
              <div id="item1">
                 IF YOU LOVE ME, PLZ ASK ME SOME QUESTIONS TO DISCOVERY MY SECRETS THINGS !!!
              </div>
</div>