<div id="main">
            <div  class="container" class="row">
              <div class="col-sm-6">
                                 <img src="./anh1.jpg"/>
              </div>                   
              <div class="col-sm-6">
                 <p>IF YOU LOVE ME, PLZ ASK ME SOME QUESTIONS TO DISCOVERY MY SECRETS THINGS !!!</p>
              </div>
            </div>  
</div>